install/
ips/
ipstools/
pulp-builder/
pulp-rt-examples/
setup_special.sh
sim/modelsim.ini
sim/modelsim_libs/
.cached_ipdb.json
__pycache__
*delete*
gf22/calibre
gf22/cockpit.log
gf22/docs
gf22/tech
gf22/technology
gf22/tetramax
gf22/dfii
