[submodule "rtl/modules-gf22fdx"]
	path = rtl/modules-gf22fdx
	url = git@github.com:QuickLogic-Corp/core-v-mcu2-rtl-modules-gf22fdx.git
[submodule "ips/tech_cells_gf22fdx"]
	path = ips/tech_cells_gf22fdx
	url = git@github.com:QuickLogic-Corp/tech_cells_gf22fdx.git
